*{
    font-family: Arial, Helvetica, sans-serif;
}

.main-block{
    background-color: #e9ecef;
    width: 100%;
    height: 800px;
}
#sub-block{
    background-color: #e9ecef;
    width: 100%;
    height: 660px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap ;

}

.fb-box{
    width: 40%;
    margin: 25px;
    margin-bottom: 15%;
}
#fb{
    color: #3a86ff;
    font-size: 4em;
    margin-bottom: -25px;
}
#para{
    font-size: 1.6em;
}

.login-box{
    width: 60%;
    margin: 25px;
    background-color: white;
    width: 400px;
    min-width: 400px;
    max-width: 400px;
    height: 360px;
    border-radius: 10px;
    box-shadow: 1px 1px 2px 2px lightgray;
    
}

.inp{
    width: 85%;
    min-width: 80%;
    margin: 5% 5% 0% 5%;
    height: 35px;
    border: 0.5px solid;
    border-color: lightgray;
    border-radius: 6px;
    padding: 8px;
    padding-left: 10px;
    font-size: 1em;
}

#in{
    width: 90%;
    margin: 5%;
    height: 50px;
    border: 0.5px solid;
    border-color: lightgray;
    border-radius: 6px;
    background-color: #3a86ff;
    color: white;
    font-size: 1.3em;
}
#in:hover{
    background-color: #0077b6;
}

#for{
    margin: 0% 30% 0% 30%;
    text-decoration: none;
}
#for:hover{
    text-decoration: underline;
}

#new{
    width: 50%;
    margin: 3% 25% 2% 25%;
    height: 50px;
    background-color: #55a630;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 1.1em;
}
#new:hover{
    background-color: #2b9348;
}

#line{
    margin: 0px 20px 0px 20px;
}

.cre{
    text-align: center;
}
#cre-pg{
    color: black;
    text-decoration: none;
    font-weight: bold;
}
#cre-pg:hover{
    text-decoration: underline;
}

#langu{
    margin:10px 250px 0px 200px;
}

.langs a{
    color: gray;
    text-decoration: none;
    font-size: 0.8em;
    margin: 4px;
}
#met{
    color: gray;
    text-decoration: none;
    font-size: 0.8em;
}